body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}

/* styles.css */
body {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
